<% content_for(:sidebar) do %>
  <div class="box">
    <h3><%= t("admin.common.stats.last_week.action_recordings") %></h3>
    <%= chart_for_records ActionRecording %>
  </div>
  
  <h3 class="info"><%= t("admin.common.stats.last_week.action_recordings_actions") %></h3>
  <div class="box">
    <%= pie_chart_for_records ActionRecording, :attribute => :action %>
  </div>

  <% %w(create update destroy).each do |action| %>
    <h3 class="info"><%= t("admin.common.stats.last_week.action_recordings_#{action}") %></h3>
    <div class="box">
      <%= chart_for_records ActionRecording.where(['action = ?', action]) %>
    </div>
  <% end %>
  
  <h3 class="info"><%= t("admin.common.stats.last_week.action_recordings_item_types") %></h3>
  <div class="box">
    <%= pie_chart_for_records ActionRecording, :attribute => :item_type %>
  </div>

  <% GeneralObserver::USER_EDITABLE_MODELS.each do |item_type| %>
    <h3 class="info"><%= t("admin.common.stats.last_week.action_recordings_#{item_type}") %></h3>
    <div class="box">
      <%= chart_for_records ActionRecording.where(['item_type = ?', item_type.to_s.classify]) %>
    </div>
  <% end %>
<% end %>

<script type="text/javascript">
//<![CDATA[
  var pollLastID = <%= @action_recordings.first.id %>;
  var pollIntervalID = null;
  function pollServer() {
    jQuery.ajax({
      url: '<%= admin_action_recordings_path %>',
      data: 'last_id='+pollLastID,
      dataType: 'json',
      type: 'GET',
      success: function (data, status, xhr) {
        pollLastID = data['last_id'];
        var html = jQuery.trim(data['live_content']);
        if( html.length > 0 ) {
          jQuery('#live_content').prepend(html);
          jQuery('#live_content ul.action_list').first().glow();
        }
        jQuery("#poll_status").html("");
      },
      error: function (data, status, xhr) {
        stopPolling();
        jQuery("#poll_status").html("[ERROR] Stopped polling!");
      },
      beforeSend: function (data, status, xhr) {
        jQuery("#poll_status").html("Sending "+pollLastID+"...");
      },
      complete: function (data, status, xhr) {
        jQuery("#poll_status").html("");
      }
    });
  }
  function startPolling() {
    stopPolling();
    pollIntervalID = setInterval(pollServer, 5000);
  }
  function stopPolling() {
    if( pollIntervalID ) clearInterval(pollIntervalID);
  }
  startPolling();      
//]]>
</script>

<input type="button" onclick="pollServer();" value="Poll server">
<span id="poll_status">&nbsp;</span>

<div id="live_content">
  <%= render_partial :recordings, :locals => {:recordings => @action_recordings} %>
</div>