<% content_for(:toolbar) do %>
  <%= link_btn t(".create_link_loading_space"), {:controller => 'notification_condition_sets', :action => 'create', :notification_condition_set => {:resource_type => LoadingSpace}}, :method => :post %>
  <%= link_btn t(".create_link_freight"), {:controller => 'notification_condition_sets', :action => 'create', :notification_condition_set => {:resource_type => Freight}}, :method => :post %>
<% end %>

<div class="box">
  <p>
    <%= t(".intro") %>
  </p>

  <% collection.each do |set| %>
    <div class="notification_condition_set">
      <h3>
        <div class="float_left">
          <%= set.human_attribute_value :resource_type %>
        </div>
        <div class="float_right">
          <%= link_to t(".delete_set"), set, :method => :delete, :confirm => t(".delete_set_confirm"), :class => "severe" %>
        </div>
        <%= clear_both %>
      </h3>

      <% set.notification_conditions.each do |condition| %>
        <div class="notification_condition">
          <%= render :partial => "notification_conditions/show", :locals => {:set => set, :resource => condition} %>
        </div>
      <% end %>

      <div class="notification_condition">
        <div id="<%= dom_id(set) %>_new" style="display: none">
          <%= render :partial => "notification_conditions/form", :locals => {:set => set} %>
        </div>
        <%=  link_to_function t(".add_new_condition"), "$('##{dom_id(set)}_new').show(); $(this).remove()", :class => "add" %>
      </div>
    </div>
  <% end %>
</div>