<div class="box">
  <h3>
    <%= t('stations.index.header') %>
  </h3>
  <p>
    <%= t('stations.index.intro') %>
  </p>
  
  <table>
    <thead>
      <tr>
        <th><%= Station.human_attribute_name(:name) %></th>
        <th><%= Station.human_attribute_name(:numeric_id) %></th>
        <th colspan="4"></th>
      </tr>
    </thead>
    <tbody>
      <% @stations.each do |ar| %>
        <tr>
          <td><%= ar[:name] %></td>
          <td><%= ar[:numeric_id] %></td>
          <td><%= link_to t('stations.index.loading_spaces_origin'),  loading_spaces_path(:origin_station_id => ar) %></td>
          <td><%= link_to t('stations.index.loading_spaces_destination'), loading_spaces_path(:destination_station_id => ar) %></td>
          <td><%= link_to t('stations.index.freights_origin'),  freights_path(:origin_station_id => ar) %></td>
          <td><%= link_to t('stations.index.freights_destination'), freights_path(:destination_station_id => ar) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate collection %>
</div>