<% content_for(:toolbar) do %>
  <%= link_btn t("people.common.edit_user_link"), edit_user_path(resource.user) %>
  <%= link_btn t("people.common.template_link"), new_user_path(:parent_id => resource.user), :icon => 'reply' %>
  <%= link_btn t('freights.index.table.options.delete'), user_path(resource.user), :method => :delete, :confirm => t('common.confirm'), :class => 'destroy' %>
<% end %>
<div class="box">
  <h3><%= t("people.edit.header") %></h3>
  <p>
    <%= t("common.required_field_hint") %>
  </p>
  <%= render 'form' %>
</div>