<%= render_partial "toolbar_settings" %>

<div class="box">
  <h3>
    <%= float_tag t('people.index.header') %>
    <%= link_btn t("people.common.new_link"), new_user_path, :icon => 'new' %>
    <%= clear_both %>
  </h3>
  <p>
    <%= t('people.index.intro') %>
  </p>
  
  <table>
    <thead>
      <tr>
        <th><%= Person.human_attribute_name(:name) %></th>
        <th><%= Person.human_attribute_name(:job_description) %></th>
        <th class="options"></th>
      </tr>
    </thead>
    <tbody>
      <% @people.each do |ar| %>
        <tr>
          <td><%= link_to t("activerecord.human_attribute_values.person.gender.#{ar.gender}") + ' ' + ar.name, ar %></td>
          <td><%= ar.job_description || '-' %></td>
          <td class="options">
            <%= link_btn t("people.common.edit_link"), edit_person_path(ar), :icon => 'edit' %>
            <%#= link_btn t("people.common.edit_user_link"), edit_user_path(ar.user) %>
            <%#= link_btn t("people.common.template_link"), new_user_path(:parent_id => ar.user), :icon => 'reply' %>
            <%#= link_btn t('freights.index.table.options.delete'), user_path(ar.user), :method => :delete, :confirm => t('common.confirm'), :class => 'destroy' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>