<div class="box">
  <% if searched? %>
    <p>
      <%= link_to_function t("search.advanced.display_form_link"), "jQuery('#advanced_search').show();" %>
    </p>
  <% end %>
  <div id="advanced_search" <% if searched? %>style="display: none;"<% end %>>
    <%= render :partial => 'advanced_search_form' %>
  </div>
  
  <% if searched? %>
    <% if @postings.full? %>
      <h3><%= t "search.common.results.header" %></h3>
      <ul class="search_results action_list">
      <% @postings.each do |result| %>
        <li class="<%= highlight_in_search?(result) ? 'highlight' : '' %>">
          <!--
          <span class="label <%= result.class.to_s.underscore %>"><%= result.class.human_name %></span>
          -->
            <% if template_exists?("/#{result.class.to_s.tableize}/_search_result")%>
              <%= render :partial => "/#{result.class.to_s.tableize}/search_result", :locals => {:result => result} %>
            <% else %>
              <% if result.is_a?(Posting) %>
                <%= link_to "#{result.origin_station.name} - #{result.destination_station.name}", result %>
              <% else %>
                <%= link_to result.name, result %>
              <% end %>
            <% end %>

        </li>
      <% end %>
      </ul>
    <% else %>
      <%= t("search.index.no_results") %>
    <% end %>
  <% end %>
  
  <% if searched? %>
    <div style="margin: 20px; color: #aaa;">
      <%= [@posting_arel, @localized_info_arel, @origin_site_info_arel, @destination_site_info_arel].each do |arel| %>
        <p>
          <%= arel.to_sql %><br>
          <%= arel.all %>
        </p>
      <% end %>
    </div>
    <% content_for :sidebar do %><%= debug params %><% end %>
  <% end %>

</div>