<div class="box">
  <h3><%= t "search.results.header" %></h3>
    <ul>
    <% @results[:main].each do |result| %>
      <li>
        <span class="label <%= result.class.to_s.underscore %>"><%= result.class.human_name %></span>
        <% if result.is_a?(Posting) %>
          <%= link_to "#{result.origin_station.name} - #{result.destination_station.name}", result %>
        <% else %>
          <%= link_to result.name, result %>
        <% end %>
      </li>
    <% end %>
    </ul>
    
    <% content_for(:subtext) do %>
      <%= t('search.subtext_results', :count => @results.count).html_safe %>
    <% end %>
    
    <% content_for(:sidebar) do %>
      <% @sidebar_result_models.each do |klass| %>
        <% if results = @results[klass].full? %>
          <div class="box">
            <h3><%= t "search.sidebar.#{klass}_results.header" %></h3>
            <ul>
              <% results.each do |result| %>
              <li><%= link_to result.name, result %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      <% end %>
    <% end %>
</div>