<div class="box">
  <h3><%= t "search.common.results.header" %></h3>
  <% if @results[:main].full? %>
    <p>
      <%= t('search.common.subtext_results', :count => @results[:count]).html_safe %>
    </p>
    <ul class="search_results action_list">
    <% @results[:main].each do |result| %>
      <li class="<%= highlight_in_search?(result) ? 'highlight' : '' %>">
        <!--
        <span class="label <%= result.class.to_s.underscore %>"><%= result.class.human_name %></span>
        -->
          <% if template_exists?("/#{result.class.to_s.tableize}/_search_result")%>
            <%= render :partial => "/#{result.class.to_s.tableize}/search_result", :locals => {:result => result} %>
          <% else %>
            <% if result.is_a?(Posting) %>
              <%= link_to "#{result.origin_station.name} - #{result.destination_station.name}", result %>
            <% else %>
              <%= link_to result.name, result %>
            <% end %>
          <% end %>

      </li>
    <% end %>
    </ul>
  <% else %>
    <%= t("search.index.no_#{@q.full? ? :results : :query}") %>
  <% end %>
  
  <% content_for(:sidebar) do %>
    <% @sidebar_result_models.each do |klass| %>
      <% if results = @results[klass].full? %>
        <div class="box">
          <h3><%= t "search.common.sidebar.#{klass}_results.header" %></h3>
          <ul>
            <% results.each do |result| %>
            <li><%= link_to result.name, result %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>