<% if @reply_to %>
  <div class="success">
    <%= auto_link t("loading_spaces.common.is_reply_to", :name => @reply_to.pretty_id) %>
  </div>
<% end %>

<%= semantic_form_for(resource) do |f| %>
  <%= clear_both %>
  
  <%= render :partial => "postings/form_origin_and_destination", :locals => {:f => f} %>

  <%= f.inputs :freight_description do %>
    <% if @reply_to %>
      <%= f.input :reply_to_id, :as => :hidden %>
    <% end %>
    <%= f.input :hazmat, :as => :radio, :collection => yes_no_collection %>
    
    <%= f.input :weight, :as => :string %>
    <%= f.input :transports_per_year, :as => :string %>
    <%= f.input :transport_weight, :as => :string %>
    <%= f.input :frequency, :collection => collection_choices(Freight, :frequency), :as => :radio %>
    
    <%= f.input :loading_meter, :as => :string %>

    <%= f.input :transport_type, :collection => collection_choices(LoadingSpace, :transport_type), :include_blank => false %>
    <%= localized_info_field f, :transport_text %>

    <%= localized_info_field f, :misc_text %>
  <% end %>
  <%= f.inputs :posting_contact do %>
    <%= f.input :contact_person, :collection => current_company.people %>
  <% end %>
  
  <%= f.buttons %>
<% end %>
