<%= semantic_form_for(resource) do |f| %>
  <% %w(origin destination).each do |site| %>
    <div class="form_site_info" style="float: left; width: 295px;">
      <%= render_partial :site_info_form_content, :locals => {:f => f, :site => site} %>
    </div>
  <% end %>
  <%= clear_both %>

  <%= render_partial :site_info_stations %>

  <%= f.inputs :timeframe do %>
    <% %w(origin destination).each do |site| %>
      <%= f.semantic_fields_for "#{site}_site_info", resource.__send__("#{site}_site_info") do |f_site| %>
        <%= f_site.input :date, :label => t("activerecord.attributes.freight.#{site}_date"), :as => :date %>
      <% end %>
    <% end %>
  <% end %>

  <%= f.inputs :freight_description do %>
    <%= f.input :hazmat, :as => :radio, :collection => yes_no_collection %>
    
    <%= f.input :weight, :as => :string %>
    <%= f.input :transports_per_year, :as => :string %>
    <%= f.input :transport_weight, :as => :string %>
    <%= f.input :frequency, :collection => collection_choices(Freight, :frequency), :as => :radio %>
    
    <%= f.input :loading_meter, :as => :string %>

    <%= f.input :transport_type, :collection => collection_choices(Freight, :transport_type), :include_blank => false %>
    <%= localized_info_field f, :transport_text %>

    <%= localized_info_field f, :misc_text %>
  <% end %>
  <%= f.inputs :posting_contact do %>
    <%= f.input :contact_person, :collection => current_company.people %>
  <% end %>
  
  <%= f.buttons %>
<% end %>
