<% if @reply_to %>
  <% content_for(:toolbar) do %>
    <div class="success">
      <%= auto_link(t("#{controller_name}.common.is_reply_to", :name => @reply_to.pretty_id)).html_safe %>
    </div>
  <% end %>
<% end %>

<%= semantic_form_for(resource) do |f| %>
  <%= f.inputs :contractor_info do %>
    <%= f.input :contractor, :as => :string %>
    <%= f.input :valid_until, :as => :string, :input_html => { :value => I18n.l(resource.valid_until.to_date) } %>
  <% end %>

  <%= render :partial => "postings/form_origin_and_destination", :locals => {:f => f} %>

  <%= f.inputs :transport_timeframe do %>
    <%= f.input :frequency, :collection => collection_choices(resource.class, :frequency), :as => :select %>
    <%= f.input :first_transport_at, :as => :string, :input_html => { :value => resource.first_transport_at ? I18n.l(resource.first_transport_at.to_date) : nil } %>

    <%= f.input :free_capacities, :collection => collection_choices(resource.class, :free_capacities), :as => :select %>
    
    <%#= localized_info_field f, :transport_text %>
    
    <%#= localized_info_field f, :misc_text %>
    
    <%= f.input :own_means_of_transport_present, :as => :radio, :collection => yes_no_collection %>
    <%= f.input :own_means_of_transport, :collection => collection_choices(Freight, :own_means_of_transport), :include_blank => true %>
    <%= f.input :own_means_of_transport_custom, :as => :string %>
    
  <% end %>

  <%= f.inputs :posting_contact do %>
    <%= f.input :contact_person, :collection => current_company.people %>
  <% end %>

  <%= f.inputs :company_roles do %>
    <%= f.input :company_roles, :as => :check_boxes, :collection => CompanyRole.all.map { |r| [t("activerecord.human_attribute_values.company_role.name.#{r.name}"), r.id] } %>
    <%= f.input :custom_category, :as => :string %>
  <% end %>

  <% if @reply_to %>
    <%= f.input :reply_to_id, :as => :hidden %>
  <% end %>
  
  <%= f.buttons %>
<% end %>
