<div class="box">
  <h3>
    <%= float_tag t("loading_spaces.index.header") %>
    <%= link_btn t("loading_spaces.common.new_link"), new_loading_space_path, :icon => 'new' %>
    <%= clear_both %>
  </h3>
  <p>
    <%= t('loading_spaces.index.intro') %>
  </p>
  
  <%= render :partial => "postings" %>
</div>