<% content_for(:toolbar) do %>
  <% if resource.company == current_company %>
    <div class="float_left">
      <%= link_btn t('loading_spaces.common.template_link'), new_resource_url(:parent_id => resource.id), :icon => 'reply' %>
    </div>
    <div class="float_right">
      <%= link_btn t("loading_spaces.common.edit_link"), edit_loading_space_path(@loading_space), :icon => 'edit' %>
      <%= link_btn t("loading_spaces.common.delete_link"), loading_space_path(@loading_space), :method => :delete, :confirm => t('common.confirm'), :class => 'destroy' %>
    </div>
  <% else %>
    <%= link_btn t('loading_spaces.common.negotiate_link'), new_loading_space_path(:parent_id => resource.id), :icon => 'reply' %>
    <%= link_btn t('loading_spaces.common.reply_to_link'), new_freight_path(:reply_to_id => resource.id), :icon => 'reply' %>
    <% if resource.contact_email.full? %>
      <%= link_btn t('loading_spaces.common.contact_to_link'), t('loading_spaces.common.contact_to_href', :email => resource.contact_email, :name => resource.pretty_id, :url => @resource_url), :icon => 'next' %>
    <% end %>
  <% end %>
<% end %>

<div class="box">
  <% if resource.reply_to.full? %>
    <div class="success">
      <%= auto_link(t("loading_spaces.show.is_reply_to", :name => resource.reply_to.pretty_id)).html_safe %>
    </div>
  <% end %>

  <h3><%= resource_class.human_attribute_name(:contractor) %>: <%= resource.contractor %></h3>
  <div>
    <%= resource_class.human_attribute_name(:valid_until) %>
    <%= l resource.valid_until, :format => :date %>
  </div>

  <hr>

  <%= render :partial => "postings/origin_and_destination" %>

  <hr>

  <%= render :partial => "postings/frequency" %>

  <h3><%= t("loading_spaces.show.transport_description") %></h3>

  <%= posting_attribute :free_capacities, :humanize => true %>

  <%= posting_attribute :own_means_of_transport_present, :value => resource.own_means_of_transport_present ? "choice_true" : "choice_false", :humanize => true %>
  <% if resource.own_means_of_transport_present? %>
    <%= posting_attribute :own_means_of_transport, :humanize => true, :dependent => true %>
    <%= posting_attribute :own_means_of_transport_custom, :dependent => true if resource.own_means_of_transport == "custom" %>
  <% end %>

  <!--
  <tr>
    <th><%= resource_class.human_attribute_name(:transport_text) %></th>
    <td><%= localized_info(@loading_space, :transport_text) %></td>
  </tr>
  <tr>
    <th><%= resource_class.human_attribute_name(:misc_text) %></th>
    <td><%= localized_info(@loading_space, :misc_text) %></td>
  </tr>
  -->

</div>

<div class="box search_results_box" style="display:none">
  <h3><%= t "search.common.results.header" %></h3>
  <% if matching_results.full? %>
    <ul class="search_results action_list">
    <% matching_results.each do |result| %>
      <li class="<%= highlight_in_search?(result) ? 'highlight' : '' %>">
        <% if template_exists?("/#{result.class.to_s.tableize}/_search_result")%>
          <%= render :partial => "/#{result.class.to_s.tableize}/search_result", :locals => {:result => result} %>
        <% else %>
          <% if result.is_a?(Posting) %>
            <%= link_to "#{result.origin_station.name} - #{result.destination_station.name}", result %>
          <% else %>
            <%= link_to result.name, result %>
          <% end %>
        <% end %>
      </li>
    <% end %>
    </ul>
  <% end %>
</div>

<% content_for(:sidebar) do %>
  <%= render_person_info(resource.contact_person) if resource.contact_person %>
  <%= render_company_info(resource.company) %>
<% end %>