<div class="box">
  <h3>
    <%= t('loading_spaces.show.header') %>
  </h3>

  <% if resource.company == current_company %>
    <% content_for(:toolbar) do %>
    <%= link_btn t('loading_spaces.common.template_link'), new_resource_url(:parent_id => resource.id), :icon => 'reply' %>
      <%= link_btn t("loading_spaces.common.edit_link"), edit_loading_space_path(@loading_space), :icon => 'edit' %>
      <%= link_btn t("loading_spaces.common.delete_link"), loading_space_path(@loading_space), :method => :delete, :confirm => t('common.confirm') %>
    <% end %>
  <% end %>

  <% %w(origin destination).each do |site| %>
    <div style="width: 48%; margin-right: 10px; float: left;">
      <h3><%= t("loading_spaces.show.#{site}.header") %></h3>
      <% @loading_space.__send__("#{site}_site_info").tap do |site_info| %>
        <strong><%= site_info.contractor %></strong><br>
        <span><%= l site_info.date, :format => :long %></span>
        <table>
          <thead>
            <tr>
              <th colspan="2"><b><%= site_info.name %></b></th>
            </tr>
          </thead>
          <% %w(address address2 zip city country).each do |attr| %>
            <% if site_info[attr].full? %>
              <tr>
                <th><%= SiteInfo.human_attribute_name(attr) %></th>
                <td><%= site_info.__send__(attr) %></td>
              </tr>
            <% end %>
          <% end %>
          <tr>
            <th><%= SiteInfo.human_attribute_name(:side_track_available) %></th>
            <td><%= yes_no site_info.side_track_available %></td>
          </tr>
          <tr>
            <th><%= SiteInfo.human_attribute_name(:tracknumber) %></th>
            <td><%= site_info.track_number %></td>
          </tr>
        </table>
      <% end %>
    </div>
  <% end %>
  <%= clear_both %>
  
  <h3><%= t("loading_spaces.show.transport_description") %></h3>
  <table>
    <tr>
      <th><%= resource_class.human_attribute_name(:weight) %></th>
      <td><%= @loading_space.weight %></td>
    </tr>
    <tr>
      <th><%= resource_class.human_attribute_name(:hazmat) %></th>
      <td><%= yes_no @loading_space.hazmat %></td>
    </tr>
    
    <tr>
      <th><%= resource_class.human_attribute_name(:transport_type) %></th>
      <td><%= @loading_space.human_attribute_value(:transport_type) %></td>
    </tr>
    <tr>
      <th><%= resource_class.human_attribute_name(:transport_text) %></th>
      <td><%= localized_info(@loading_space, :transport_text) %></td>
    </tr>
    <tr>
      <th><%= resource_class.human_attribute_name(:misc_text) %></th>
      <td><%= localized_info(@loading_space, :misc_text) %></td>
    </tr>
  </table>
  
</div>

<div class="box">
  <h3><%= t "search.common.results.header" %></h3>
  <% if matching_results.full? %>
    <ul>
    <% matching_results.each do |result| %>
      <li>
        <span class="label <%= result.class.to_s.underscore %>"><%= result.class.human_name %></span>
        <% if template_exists?("/#{result.class.to_s.tableize}/_search_result")%>
          <%= render :partial => "/#{result.class.to_s.tableize}/search_result", :locals => {:result => result} %>
        <% else %>
          <%= link_to result.name, result %>
        <% end %>
      </li>
    <% end %>
    </ul>
  <% end %>
</div>

<% content_for(:sidebar) do %>
  <%= render_person_info(resource.contact_person) if resource.contact_person %>
  <%= render_company_info(resource.company) %>
<% end %>