<div class="footer">
  <div class="container" id="footer">
    <div class="span-24 last">
      <div class="float_left">
        <strong>&copy; <%= Time.new.year %> by René Föhring</strong> |
        <%= link_to t('common.footer.imprint_link'), about_path %> |
        <%= link_to t('common.footer.contact_link'), contact_path %>
      </div>
      <div class="float_right">
        <span><%= t("common.navi.select_locale") %></span>
        <% available_locales.each do |locale| %>
          <%= link_to_unless(I18n.locale == locale, t("common.navi.locale_#{locale}"), params.merge(:locale => locale)) %>
          <%= "|" unless locale == available_locales.last %>
        <% end %>
      </div>
    </div>
  </div>
</div>