<div class="header">
  <div id="top-navigation">
    <div class="navigation-left">
      <ul class="navigation">
        <% if logged_in? %>
          <li><%= link_to_unless(section_is_dashboard?, t("common.navi.dashboard"), company_dashboard_path) %></li>
          <li><%= link_to_unless(section_is_freights?, t("common.navi.freights"), freights_path) %></li>
          <li><%= link_to_unless(section_is_loading_spaces?, t("common.navi.loading_spaces"), loading_spaces_path) %></li>
          <li><%= link_to_unless(section_is_companies?, t("common.navi.companies"), companies_path) %></li>
        <% else %>
        <% end %>
      </ul>
    </div>

    <div class="navigation-right">
      <ul class="navigation">
        <% if logged_in? %>
          <li><span class="company_name"><%= current_company.name %>:</span></li>
          <li><%= link_to_unless_current(t("common.navi.my_freights"), freights_company_path(current_company)) %></li>
          <li><%= link_to_unless_current(t("common.navi.my_loading_spaces"), loading_spaces_company_path(current_company)) %></li>
          <li><%= link_to_unless_current(text_with_badge("common.navi.reviews", current_company.unapproved_reviews.count), reviews_path) %></li>
          <li><%= link_to_unless_current(t("common.navi.people"), people_path) %></li>
          <li><%= link_to_unless_current(t("common.navi.my_company"), company_path(current_company)) %></li>
          <li class="last"><%= link_to_unless_current(image_tag("logout.png") + " " + t("common.navi.logout"), logout_path) %></li>
        <% else %>
          <li><%= link_to_unless_current(t("common.navi.login"), login_path) %></li>
          <li class="last"><%= link_to_unless_current(t("common.navi.register"), register_path) %></li>
        <% end %>
      </ul>
    </div>
    <%- if current_user.full? { |u| u.is?(:administrator) } -%>
      <ul class="navigation navigation-right">
        <li class="noborder">
          <%= link_to(t("common.navi.backend"), admin_root_path, :class => 'backend') %>
        </li>
      </ul>
    <%- end -%>

    <%= clear_both %>
  </div>

  <div class="container" id="header">
    <div class="span-24 last" id="first-header">
      <div class="float_left">
        <%= link_to image_tag('logo.png'), root_url, :id => 'logo'  %>
      </div>
      <div class="float_left">
        <% if logged_in? %>
          <div id="search_form">
            <%= form_tag search_url, :method => :get do %>
              <div class="input-wrapper"><%= text_field_tag :q, h(params[:q]), :autocomplete => :off %><%= image_submit_tag("search_button.png") %></div>
              <div class="advanced-search-wrapper"><%= link_to t("common.sidebar.advanced_search_link"), advanced_search_path %></div>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="float_right" style="padding-top: 18px">
        <%= link_btn t("freights.common.new_link"), new_freight_path, :class => 'minibutton-green' %>
        <%= link_btn t("loading_spaces.common.new_link"), new_loading_space_path, :class => 'minibutton-green' %>
      </div>
      <%= clear_both %>
    </div>

    <div class="container" id="second-header">
      <ul class="navigation navigation-left">
        <!--
        <li><span>
          <b><%#= Station.count %></b> stations and <b><%#= User.count %></b> users and stuff...
        </span></li>
        -->
      </ul>
      <ul class="navigation navigation-right">

        <% if false && current_user.full? %>
          <li><span>Welcome <%= current_user.login %>!</span></li>
          <li>
            <div id="search_form">
            <%= form_tag search_url, :method => :get do %>
              <div class="input-wrapper"><%= text_field_tag :q, h(params[:q]) %><%= submit_tag t('search.common.button'), :name => nil %></div>
            <% end %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>