<div  class="localized_info_locale_selector">
  <label for="<%= "#{f.object_name}_#{name}" %>"><%= t("formtastic.localized_info_locale_selector") %></label>
  <select id="<%= "#{f.object_name}_#{name}" %>" onchange='changeLocalizedInfoLanguage(this, <%= locales.to_json.html_safe %>);'>
    <% locales.each do |lang| %>
      <option value="<%= lang %>"><%= t("common.navi.locale_#{lang}") %></option>
    <% end %>
  </select>
</div>

<div>
  <% locales.each do |lang| %>
    <%= localized_info_field f, name, lang %>
  <% end %>
</div>

<script type="text/javascript">
  changeLocalizedInfoLanguage(jQuery("#<%= "#{f.object_name}_#{name}" %>"), <%= locales.to_json.html_safe %>);
</script>