<% content_for(:sidebar) do %>
  <div class="box">
    <h3>
      <%= float_tag t("common.sidebar.company_information.header") %>
      <%= link_btn t("common.sidebar.company_information.show"), company_path(company), :class => 'show', :icon => :show %>
      <%= clear_both %>
    </h3>

    <table>
      <thead>
        <tr>
          <th colspan="2"><b><%= company.name %></b></th>
        </tr>
      </thead>
      <% %w(address address2 zip city country phone fax email website).each do |attr| %>
        <% if company[attr].full? %>
          <tr>
            <th><%= Company.human_attribute_name(attr) %></th>
            <td><%= contact_info(company, attr) %></td>
          </tr>
        <% end %>
      <% end %>
      <% %w(commercial_register_entry vat_id).each do |attr| %>
      <tr>
        <th colspan="2"><%= Company.human_attribute_name(attr) %></th>
      </tr>
      <tr>
        <td colspan="2"><%= company[attr] || '-' %></td>
      </tr>
      <% end %>
    </table>

    <%= link_btn t("common.sidebar.company_information.postings"), freights_path(:company_id => company), :class => 'show', :icon => :show %>
    
    <% if company == current_company && only_some_attributes_filled?(company) %>
      <div class="notice">
        <%= t("common.sidebar.company_information.please_edit_notice") %>
        <br>
        <%= link_btn t("common.sidebar.company_information.edit"), edit_company_path(company), :icon => :edit %>
      </div>
    <% end %>
  </div>
<% end %>