<div id="sidebar" class="span-8 last">
  <%= submit_tag "Create a new Posting", :class => 'create_new_posting' %>
  
  <%= yield(:sidebar) %>
  <div id="my_profile">
    <div class="box">
      <h3>My Profile</h3>
        <% if current_user.full? %>
          <span>Welcome <%= current_user.login %>!</span>
          <%= link_to_unless_current "My Profile", my_profile_url %>
          <%= link_to_unless_current "Logout", logout_url %>
        <% else %>
          <%= link_to_unless_current "Login", login_url %>
        <% end %>
    </div>
  </div>
</div>