<% content_for(:sidebar) do %>
  
  <div class="box">
    <h3>
      <%= float_tag t("common.sidebar.person_information.header") %>
      <%= link_btn t("common.sidebar.person_information.show"), person_path(person), :class => 'show', :icon => :show %>
      <%= clear_both %>
    </h3>

    <table>
      <thead>
        <tr>
          <th colspan="2"><b><%= person.name %></b></th>
        </tr>
      </thead>
      <% %w(phone fax email website).each do |attr| %>
        <% if person[attr].full? %>
          <tr>
            <th><%= Person.human_attribute_name(attr) %></th>
            <td><%= contact_info(person, attr)%></td>
          </tr>
        <% end %>
      <% end %>
    </table>
    
    <% if person == current_person && only_some_attributes_filled?(person) %>
      <div class="notice">
        <%= t("common.sidebar.person_information.please_edit_notice") %>
        <br>
        <%= link_btn t("common.sidebar.person_information.edit"), edit_person_path(person), :icon => :edit %>
      </div>
    <% end %>
  </div>
    
<% end %>