<%= f.inputs :"#{origin_or_destination}_site_info" do %>
  <%= f.input :"#{origin_or_destination}_contractor", :label => t("activerecord.attributes.site_info.#{origin_or_destination}_contractor") %>
  <%= f.input :"#{origin_or_destination}_side_track_available", :as => :radio, :collection =>yes_no_collection %>
  <div id="<%= origin_or_destination %>_with_station" style="display: none">
    <%= f.input :"#{origin_or_destination}_station" %>
    <%= f.input :"#{origin_or_destination}_track_number" %>
  </div>
  <div id="<%= origin_or_destination %>_address" style="display: none">
    <% SiteInfo::SITE_ATTRIBUTES.each do |field| %>
      <%= f.input :"#{origin_or_destination}_#{field}", :as => :string %>
    <% end %>
  </div>
<% end %>