<%
   show_station = !!resource[:"#{origin_or_destination}_side_track_available"].full?
%>
<%= f.inputs :"#{origin_or_destination}_site_info" do %>
  <%= f.input :"#{origin_or_destination}_contractor", :label => t("activerecord.attributes.site_info.#{origin_or_destination}_contractor") %>
  <%= f.input :"#{origin_or_destination}_side_track_available", :as => :radio, :collection => yes_no_collection, :selected => !!resource[:"#{origin_or_destination}_side_track_available"] %>

  <div id="<%= origin_or_destination %>_with_station" style="<%= show_station ? nil : 'display: none' %>">
    <%= f.input :"#{origin_or_destination}_station", :input_html => {:title => t("activerecord.attributes.freight.#{origin_or_destination}_station"),:class => 'chosen'} %>
    <%#= f.input :"#{origin_or_destination}_track_number" %>
  </div>

  <div id="<%= origin_or_destination %>_address" style="<%= show_station ? 'display: none' : nil %>">

    <% %w(name address address2 zip city).each do |field| %>
      <%= f.input :"#{origin_or_destination}_#{field}", :as => :string %>
    <% end %>
    <%= f.input :"#{origin_or_destination}_country", :priority_countries => ["Germany", "Netherlands", "Austria", "Switzerland", "France", "Italy"] %>
  </div>
<% end %>