
<% content_for(:toolbar) do %>
  <div class="float_left">
    <%= link_btn_unless_current t('companies.common.loading_spaces'), loading_spaces_path(:company_id => @company) %>
    <%= link_btn_unless_current t('companies.common.freights'), freights_path(:company_id => @company) %>
    <%= link_btn_unless_current t("companies.common.profile"), company_path(@company) %>
    <% if @company == current_company %>
      <%= link_btn_unless_current t("companies.common.reviews"), reviews_path %>
      <%= link_btn_unless_current t("companies.common.people"), people_path %>
    <% end %>
  </div>

  <div class="float_right">
    <% if @company == current_user.company %>
      <% if postings_controller? %>
        <%= link_btn_unless_current t("companies.common.invalid_postings_link"), params.merge(:invalid => true) %>
      <% else %>
        <%= link_btn t("companies.show.edit_company_link"), edit_company_path(@company), :icon => 'edit' %>
      <% end %>
    <% else %>
      <%= link_btn_unless_current t("common.create_new_review"), new_review_url(:company_id => @company.id), :icon => 'reply' %>

      <% if white_listed?(@company) %>
        <%= link_btn t("common.white_listed_company"), {:controller => :white_listed_items, :action => :destroy_all, :white_listed_item => {:item_type => 'Company', :item_id => @company.id}}, :method => :post, :class => white_listed?(@company) ? 'minibutton-green' : nil %>
      <% else %>
        <%= link_btn t("common.white_list_company"), {:controller => :white_listed_items, :action => :create, :white_listed_item => {:item_type => 'Company', :item_id => @company.id}}, :method => :post %>
      <% end %>

      <% if black_listed?(@company) %>
        <%= link_btn t("common.black_listed_company"), {:controller => :black_listed_items, :action => :destroy_all, :black_listed_item => {:item_type => 'Company', :item_id => @company.id}}, :method => :post, :class => black_listed?(@company) ? 'minibutton-active' : nil %>
      <% else %>
        <%= link_btn t("common.black_list_company"), {:controller => :black_listed_items, :action => :create, :black_listed_item => {:item_type => 'Company', :item_id => @company.id}}, :method => :post, :confirm => t("common.black_list_company_confirm") %>
      <% end %>
    <% end %>
  </div>
<% end %>