<div id="top-navigation">
  <div class="navigation-left">
    <ul class="navigation">
      <% if logged_in? %>
        <li><%= navi_to_unless(section_is_dashboard?, t("common.navi.dashboard"), company_dashboard_path) %></li>
        <li><%= navi_to_unless(section_is_loading_spaces?, t("common.navi.loading_spaces"), loading_spaces_path) %></li>
        <li><%= navi_to_unless(section_is_freights?, t("common.navi.freights"), freights_path) %></li>
        <li><%= navi_to_unless(section_is_companies?, t("common.navi.companies"), companies_path) %></li>
        <li><%= navi_to_unless(section_is_stations?, t("common.navi.stations"), stations_path) %></li>
      <% else %>
      <% end %>
    </ul>
  </div>

  <div class="navigation-right">
    <ul class="navigation">
      <% if logged_in? %>
        <li><span class="company_name"><%= t("common.navi.notifications")%></span></li>
        <li class="notifications no-border<%= relevant_notification_items_count == 0 ? ' viewed' : '' %>">
          <%= navi_to_unless_current(content_tag(:b, relevant_notification_items_count, :class => 'badge'), notifications_path) %>
        </li>
        <li>
          <%= link_to_function current_company.name, "toggleMenu('company_menu');", :id => "company_menu_link", :class => "top-navigation-menu-link#{' active' if section_is_my_company?}" %>
          
          <div id="company_menu" class="top-navigation-menu" style="display: none">
            <ul>
              <li><%= navi_to_unless_current(t("common.navi.my_loading_spaces"), loading_spaces_path(:company_id => current_company)) %></li>
              <li><%= navi_to_unless_current(t("common.navi.my_freights"), freights_path(:company_id => current_company)) %></li>
              <li><%= navi_to_unless_current(text_with_badge("common.navi.my_reviews", current_company.unapproved_reviews.count), reviews_path) %></li>
              <li><%= navi_to_unless(section_is_settings?, t("common.navi.settings"), people_path) %></li>
            </ul>
          </div>
        </li>
        <li>
          <%= link_to_function current_user.name, "toggleMenu('personal_menu');", :id => "personal_menu_link", :class => "top-navigation-menu-link#{' active' if section_is_my_person?}" %>
          <div id="personal_menu" class="top-navigation-menu" style="display: none">
            <ul>
              <li><%= navi_to_unless_current(t("common.navi.my_person"), person_path(current_person)) %></li>
              <li><%= navi_to_unless_current(t("common.navi.my_user"), loading_spaces_path(:company_id => current_company)) %></li>
            </ul>
          </div>
        </li>
        <li class="last"><%= link_to_unless_current(image_tag("logout.png") + " " + t("common.navi.logout"), logout_path) %></li>
      <% else %>
        <li><%= link_to_unless_current(t("common.navi.login"), login_path) %></li>
        <li class="last"><%= link_to_unless_current(t("common.navi.register"), register_path) %></li>
      <% end %>
    </ul>
  </div>
  <%- if current_user.full? { |u| u.is?(:administrator) } -%>
    <ul class="navigation navigation-right">
      <li class="noborder">
        <%= link_to(t("common.navi.backend"), admin_root_path, :class => 'backend') %>
      </li>
    </ul>
  <%- end -%>

  <%= clear_both %>
</div>
