<%= partial :toolbar_notifications %>

<div class="box">
  <h3>
    <%= t('notifications.show.header') %>
  </h3>
  <p>
    <%= t('notifications.show.intro') %>
  </p>
  <% if collection = @notification_items %>
    <ul class="action_list notifications">
      <% collection.each do |ar| %>
        <li class="<%= ar.item_type.underscore %><%= ' unread' if @unread.include?(ar) %>"><%= partial ar.item_type.underscore, :object => ar.item %></li>
      <% end %>
    </ul>
  <% else %>
    <%= t("notifications.show.no_notifications") %>
  <% end %>
</div>