<%= partial :toolbar_notifications %>

<div class="box">
  <h3>
    <%= t('notifications.show.header') %>
  </h3>
  <p>
    <%= t('notifications.show.intro') %>
  </p>
  <p>
    <%= link_btn t("notifications.common.mark_all_as_read"), {:controller => 'notification_items', :action => 'mark_all_as_read'}, :method => :post %>
  </p>
  <% if collection = @notification_items %>
    <ul class="action_list notifications">
      <% collection.each do |ar| %>
        <li class="<%= ar.item_type.underscore %><%= ' unread' if @unread.include?(ar) %>"><%= partial ar.item_type.underscore, :locals => {:notification_item => ar} %></li>
      <% end %>
    </ul>
    <%= will_paginate(collection).to_s.html_safe %>
  <% else %>
    <%= t("notifications.show.no_notifications") %>
  <% end %>
</div>