<div class="box">
  <h3>
    <%= t('users.index.header') %>
    <%= link_btn t("users.common.new_link"), new_user_path, :icon => 'new' %>
  </h3>
  <p>
    <%= t('users.index.intro') %>
  </p>
  
  <table>
    <thead>
      <tr>
        <th><%= User.human_attribute_name(:login) %></th>
        <th><%= User.human_attribute_name(:email) %></th>
        <th class="options"></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |ar| %>
        <tr>
          <td><%= ar[:login] %></td>
          <td><%= ar[:email] %></td>
          <td class="options">
            <%= link_btn t("users.common.edit_link"), edit_user_path(ar), :icon => 'edit' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate collection %>
</div>