<div class="box">
  <%= semantic_form_for(@user) do |f| %>
    <%= f.semantic_fields_for :person do |f_person| %>
      <%= f_person.inputs :person_name do %>
        <%= f_person.input :gender, :collection => collection_choices(Person, :gender), :as => :select, :include_blank => false %>
        <%= f_person.input :first_name %>
        <%= f_person.input :last_name %>
      <% end %>
      
      <%= f_person.inputs :person_contact do %>
        <%= f_person.input :phone %>
        <%= f_person.input :fax %>
        <%= f_person.input :email %>
        <%= f_person.input :website %>
        <%= f_person.input :locale, :collection => collection_choices(Person, :locale), :as => :select, :include_blank => false %>
      <% end %>
    
    <% end %>

    <%= render :partial => "form_content", :locals => {:f => f} %>

    <%= f.buttons %>
  <% end %>
</div>

<% content_for(:sidebar) do %>
<%= debug @user.person.attributes %>
  <% end %>