
<% %w(origin destination).each do |origin_or_destination| %>
  <div style="width: 48%; margin-right: 10px; float: left;">
    <%= resource["#{origin_or_destination}_contractor"] %><br>
    <% if date = resource["#{origin_or_destination}_date"] %>
      <span><%= l date, :format => :long %></span>
    <% end %>
    <h3><%= t("freights.show.#{origin_or_destination}.header") %></h3>

    <p>
      <% if station = resource.send("#{origin_or_destination}_station") %>
        <%= station.full_name %><br>
      <% end %>
      <strong><%= resource["#{origin_or_destination}_name"] %></strong><br>
      <%= resource["#{origin_or_destination}_address"] %>
      <%= resource["#{origin_or_destination}_address2"] %><br>
      <%= resource["#{origin_or_destination}_zip"] %>
      <%= resource["#{origin_or_destination}_city"] %><br>
      <%= resource["#{origin_or_destination}_country"] %>
    </p>

    <% if resource["#{origin_or_destination}_side_track_available"] %>
      <strong><%= SiteInfo.human_attribute_name(:track_number) %></strong>
      <%= resource["#{origin_or_destination}_track_number"] %>
    <% else %>
      <em><%= t("freights.show.no_side_track_available") %></em>
    <% end %>
  </div>
<% end %>
<%= clear_both %>
