<table class="postings">
  <thead>
    <tr>
      <th><%= t('freights.index.table.headers.id') %></th>
      <th><%= t('freights.index.table.headers.valid_until') %></th>
      <th><%= t('freights.index.table.headers.origin_name') %></th>
      <th><%= t('freights.index.table.headers.destination_name') %></th>
      <th><%= t('freights.index.table.headers.frequency') %></th>
      <% if action_name != "index" && collection.any? { |ar| ar.company == current_company } %>
        <th class="options"><%= t('freights.index.table.headers.options') %></th>
      <% else %>
        <th><%= t('freights.index.table.headers.company') %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% collection.each do |ar| %>
      <tr class="<%= ar.try(:valid_until).to_i < Time.now.to_i ? :old : :new %>">
        <td class="pretty_id"><%= link_to ar.pretty_id, ar %></td>
        <td class="origin_date"><%= l(ar.valid_until, :format => :date) if ar.valid_until.present? %></td>
        <td class="origin_name"><%= link_to truncate( ar.origin_city), params.merge(:origin_city => ar.origin_city), :class => "filter origin_city" %></td>
        <td class="destination_name"><%= link_to truncate( ar.destination_city), params.merge(:destination_city => ar.destination_city), :class => "filter destination_city" %></td>
        <td class="total_weight numeric"><%= ar.human_attribute_value(:frequency) %></td>
        <% if action_name != "index" && ar.company == current_company %>
          <td class="options">
            <%= link_btn t('freights.index.table.options.template'), new_resource_url(:parent_id => ar.id), :icon => :reply %>
            <%= link_btn t('freights.index.table.options.edit'), {:action => 'edit', :id => ar}, :icon => :edit %>
            <%= link_btn t('freights.index.table.options.delete'), ar, :method => :delete, :confirm => t('common.confirm'), :class => 'destroy' %>
          </td>
        <% else %>
          <td class="company_name"><%= link_to truncate(ar.company.name, :length => 30), {:company_id => ar.company}, {:title => ar.company.name, :class => "filter company"} %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>