<table class="postings">
  <thead>
    <tr>
      <th><%= t('freights.index.table.headers.id') %></th>
      <th><%= t('freights.index.table.headers.origin_date') %></th>
      <th><%= t('freights.index.table.headers.origin_name') %></th>
      <th><%= t('freights.index.table.headers.destination_date') %></th>
      <th><%= t('freights.index.table.headers.destination_name') %></th>
      <th><%= t('freights.index.table.headers.weight') %></th>
      <th><%= t('freights.index.table.headers.transport_type') %></th>
      <% if action_name != "index" && collection.any? { |ar| ar.company == current_company } %>
        <th class="options"><%= t('freights.index.table.headers.options') %></th>
      <% else %>
        <th><%= t('freights.index.table.headers.company') %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% collection.each do |ar| %>
      <tr class="<%= ar.origin_date < Time.now ? :old : :new %>">
        <td class="origin_date"><%= link_to ar.pretty_id, ar %></td>
        <td class="origin_date"><%= l(ar.origin_date, :format => :date) %></td>
        <td class="origin_name"><%= truncate ar.origin_name %></td>
        <td class="destination_date"><%= l(ar.destination_date, :format => :date) %></td>
        <td class="destination_name"><%= truncate ar.destination_name %></td>
        <td class="weight"><%= ar.weight %></td>
        <td class="transport_type"><%= ar.human_attribute_value(:transport_type) %></td>
        <% if action_name != "index" && ar.company == current_company %>
          <td class="options">
            <%= link_btn t('freights.index.table.options.template'), new_resource_url(:parent_id => ar.id), :icon => :reply %>
            <%= link_btn t('freights.index.table.options.edit'), {:action => 'edit', :id => ar}, :icon => :edit %>
            <%= link_btn t('freights.index.table.options.delete'), ar, :method => :delete, :confirm => t('common.confirm'), :class => 'destroy' %>
          </td>
        <% else %>
          <td class="company_name"><%= link_to truncate(ar.company.name, :length => 30), {:company_id => ar.company}, {:title => ar.company.name.size > 30 ? ar.company.name : nil} %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>