<table class="postings">
  <thead>
    <tr>
      <th><%= t('freights.index.table.headers.id') %></th>
      <th><%= t('freights.index.table.headers.valid_until') %></th>
      <th><%= t('freights.index.table.headers.origin_name') %></th>
      <th><%= t('freights.index.table.headers.destination_name') %></th>
      <th><%= t('freights.index.table.headers.frequency') %></th>
      <% if action_name != "index" && collection.any? { |ar| ar.company == current_company } %>
        <th class="options"><%= t('freights.index.table.headers.options') %></th>
      <% else %>
        <th><%= t('freights.index.table.headers.company') %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% collection.each do |ar| %>
      <tr class="<%= ar.try(:valid_until).to_i < Time.now.to_i ? :old : :new %><%= " highlight" if @highlight && @highlight.include?(ar.id.to_s) %>">
        <td class="pretty_id"><%= link_to ar.pretty_id, ar %></td>
        <td class="origin_date"><%= l(ar.valid_until, :format => :date) if ar.valid_until.present? %></td>
        <% %w(origin destination).each do |origin_or_destination| %>
          <td class="<%= origin_or_destination %>_name">
            <% if city = ar.__send__("#{origin_or_destination}_city") %>
              <%= link_to_filter truncate(city), {:"#{origin_or_destination}_city" => city}, :title => city %>
            <% end %>
            <% if station = ar.__send__("#{origin_or_destination}_station") %>
              (<%= link_to_filter "##{station.numeric_id}", {:"#{origin_or_destination}_station_id" => station.id}, :title => station.name %>)
            <% end %>
          </td>
        <% end %>
        <td class="total_weight numeric"><%= ar.human_attribute_value(:frequency) %></td>
        <% if action_name != "index" && ar.company == current_company %>
          <td class="options">
            <%= link_btn t('freights.index.table.options.template'), new_resource_url(:parent_id => ar.id), :icon => :reply %>
            <%= link_btn t('freights.index.table.options.edit'), {:action => 'edit', :id => ar}, :icon => :edit %>
            <%= link_btn t('freights.index.table.options.delete'), ar, :method => :delete, :confirm => t('common.confirm'), :class => 'destroy' %>
          </td>
        <% else %>
          <td class="company_name">
            <%= link_to_filter truncate(ar.company.name), {:company_id => ar.company}, :title => ar.company.try(:name) %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>