
<%= f.inputs :contractor_info do %>
  <%= f.input :contractor, :as => :string %>
  <%= f.input :valid_until, :as => :string, :input_html => { :value => I18n.l(resource.valid_until.to_date) } %>

  <% if resource.reply_to %>
    <div class="success">
      <input type="checkbox" name="<%= resource.class.to_s.underscore %>[reply_to_id]" value="<%= resource.reply_to_id %>" checked="<%= resource.reply_to.full? ? :checked : nil %>">
      <%= auto_link(t("#{controller_name}.common.make_reply_to", :name => resource.reply_to.pretty_id)).html_safe %>
    </div>
  <% end %>
<% end %>

<%= render :partial => "postings/form_origin_and_destination", :locals => {:f => f} %>