<p>
  <%= link_back %>
</p>

<div class="box">
  <h3>
    <%= @posting.class.human_name %> #<%= @posting.id %>
    <% if @posting.user == current_user %>
      <%= link_to t("postings.common.posting.edit"), "#", :class => 'edit' %>
    <% end %>
  </h3>
  
  <table>
    <thead>
      <tr>
        <th colspan="2"><h2><%= @posting.origin_station.name %></h2></th>
        <th colspan="2"><h2><%= @posting.destination_station.name %></h2></th>
      </tr>
    </thead>
    <tr>
      <td colspan="2"><%= l @posting.origin_date, :format => :long %></td>
      <td colspan="2"><%= l @posting.destination_date, :format => :long %></td>
    </tr>
    <thead>
    <tr>
      <th><%= t "postings.common.posting.loading_meter" %></th>
      <th><%= t "postings.common.posting.weight" %></th>
      <th><%= t "postings.common.posting.goods_type" %></th>
      <th><%= t "postings.common.posting.wagon_type" %></th>
    </tr>
    </thead>
    <tr>
      <td><%= @posting.loading_meter %></td>
      <td><%= @posting.weight %></td>
      <td><%= @posting.goods_type %></td>
      <td><%= @posting.wagon_type %></td>
    </tr>
    <% if @posting.misc.full? %>
    <thead>
      <tr>
        <th colspan="4"><%= t "postings.posting.misc" %></th>
      </tr>
    </thead>
    <tr>
      <td colspan="4"><%= simple_format( auto_link(@posting.misc) ) %></td>
    </tr>
    <% end %>
  </table>
  
  <%= render_company_info @posting.user.company.full? %>
</div>