<p>
  <%= link_to_function t("common.link_back"), "self.history.back();", :class => 'back' %>
</p>

<div class="box">
  <h3>
    <%= @posting.class.human_name %> #<%= @posting.id %>
    <% if @posting.user == current_user %>
      <%= link_to t("postings.posting.edit"), "#", :class => 'edit' %>
    <% end %>
  </h3>
  
  <table>
    <thead>
      <tr>
        <th colspan="2"><h2><%= @posting.origin_station.name %></h2></th>
        <th colspan="2"><h2><%= @posting.destination_station.name %></h2></th>
      </tr>
    </thead>
    <tr>
      <td colspan="2"><%= l @posting.origin_date, :format => :long %></td>
      <td colspan="2"><%= l @posting.destination_date, :format => :long %></td>
    </tr>
    <thead>
    <tr>
      <th><%= t "postings.posting.loading_meter" %></th>
      <th><%= t "postings.posting.weight" %></th>
      <th><%= t "postings.posting.goods_type" %></th>
      <th><%= t "postings.posting.wagon_type" %></th>
    </tr>
    </thead>
    <tr>
      <td><%= @posting.loading_meter %></td>
      <td><%= @posting.weight %></td>
      <td><%= @posting.goods_type %></td>
      <td><%= @posting.wagon_type %></td>
    </tr>
    <% if @posting.misc.full? %>
    <thead>
      <tr>
        <th colspan="4"><%= t "postings.posting.misc" %></th>
      </tr>
    </thead>
    <tr>
      <td colspan="4"><%= simple_format( auto_link(@posting.misc) ) %></td>
    </tr>
    <% end %>
  </table>
  
  <% content_for(:sidebar) do %>
    <% if company = @posting.user.company.full? %>
      <div class="box">
        <h3>
          <%= t "postings.sidebar.contact_information.header" %>
          <% if company == current_user.company %>
            <%= link_to t("postings.sidebar.contact_information.edit"), edit_company_path(company), :class => 'edit' %>
          <% end %>
        </h3>
      
        <table>
          <thead>
            <tr>
              <th colspan="2"><b><%= company.name %></b></th>
            </tr>
          </thead>
          <% %w(address address2 zip city country email website phone fax).each do |attr| %>
            <% if company[attr].full? %>
              <tr>
                <th><%= Company.human_attribute_name(attr) %></th>
                <td><%= auto_link company[attr] %></td>
              </tr>
            <% end %>
          <% end %>
        </table>
      </div>
    <% end %>
  <% end %>
</div>