<ol>
  <% %w(contractor name address address2 zip city country).each do |field| %>
    <li class="string">
      <%= label site, field %>
      <%= text_field site, field %>
    </li>
  <% end %>
  <li>
    <%= label site, :side_track_avaiable %>
    <%= radio_button site, :side_track_avaiable, true %>
      <%= label site, :side_track_avaiable_true, "Yes" %>
    <%= radio_button site, :side_track_avaiable, false %>
        <%= label site, :side_track_avaiable_false, "No" %>
  </li>
  <li class="string">
    <%= label site, :track_number %>
    <%= text_field site, :track_number %>
  </li>
</ol>