
<% content_for(:toolbar) do %>
  <%= link_btn_unless_current t("freights.index.all_freights"), freights_path %>
  <%= link_btn_unless_current t("loading_spaces.index.all_loading_spaces"), loading_spaces_path %>
<% end %>

<div class="box">
  <h3><%= t("freights.index.header") %></h3>
  <p>
    <%= t('freights.index.intro') %>
  </p>

  <%= render :partial => "postings/postings" %>
</div>