<div class="box">
  <h3><%= t('freights.show.header') %></h3>
  
  <% if resource.reply_to.full? %>
    <div class="success">
      <%= auto_link t("freights.show.is_reply_to", :name => resource.reply_to.pretty_id) %>
    </div>
  <% end %>

  <% content_for(:toolbar) do %>
    <% if resource.company == current_company %>
      <div class="float_left">
        <%= link_btn t('freights.common.template_link'), new_resource_url(:parent_id => resource.id), :icon => 'reply' %>
      </div>
      <div class="float_right">
        <%= link_btn t("freights.common.edit_link"), edit_freight_path(resource), :icon => 'edit' %>
        <%= link_btn t("loading_spaces.common.delete_link"), freight_path(resource), :method => :delete, :confirm => t('common.confirm'), :class => 'destroy' %>
      </div>
    <% else %>
      <%= link_btn t('freights.common.reply_to_link'), new_loading_space_path(:reply_to_id => resource.id), :icon => 'reply' %>
      <% if resource.contact_email.full? %>
        <%= link_btn t('freights.common.contact_to_link'), t('freights.common.contact_to_href', :email => resource.contact_email, :name => resource.pretty_id, :url => @resource_url), :icon => 'next' %>
      <% end %>
    <% end %>
  <% end %>

  <%= render :partial => "postings/origin_and_destination" %>
  
  <h3><%= t("freights.show.transport_description") %></h3>
  <table>
    <% %w(contractor valid_until product_name product_state).each do |attrib| %>
      <%= partial :show_row, :locals => {:attrib => attrib} %>
    <% end %>
    <tr>
      <th><%= Freight.human_attribute_name(:hazmat) %></th>
      <td><%= yes_no resource.hazmat %></td>
    </tr>
    <% if resource.hazmat? %>
      <tr>
        <th><%= Freight.human_attribute_name(:hazmat_class) %></th>
        <td><%= resource.hazmat_class %></td>
      </tr>
      <tr>
        <th><%= Freight.human_attribute_name(:un_no) %></th>
        <td><%= resource.un_no %></td>
      </tr>
    <% end %>
    <% %w(total_weight frequency first_transport_at transport_weight desired_means_of_transport own_means_of_transport desired_proposal_type).each do |attrib| %>
      <%= partial :show_row, :locals => {:attrib => attrib} %>
    <% end %>
    
    <!--
    <tr>
      <th><%= Freight.human_attribute_name(:goods_text) %></th>
      <td><%= localized_info(@freight, :goods_text) %></td>
    </tr>
    <tr>
      <th><%#= Freight.human_attribute_name(:transport_text) %></th>
      <td><%= localized_info(@freight, :transport_text) %></td>
    </tr>
  
    <tr>
      <th><%#= Freight.human_attribute_name(:misc_text) %></th>
      <td><%= localized_info(@freight, :misc_text) %></td>
    </tr>
      -->
  </table>
</div>

<% content_for(:sidebar) do %>
  <%= render_person_info(resource.contact_person) if resource.contact_person %>
  <%= render_company_info(resource.company) %>

  <div class="box">
    <h3><%= t "search.common.results.header" %></h3>
    <% if matching_results.full? %>
      <ul class="search_results action_list">
      <% matching_results.each do |result| %>
        <li class="<%= highlight_in_search?(result) ? 'highlight' : '' %>">
          <% if template_exists?("/#{result.class.to_s.tableize}/_search_result")%>
            <%= render :partial => "/#{result.class.to_s.tableize}/search_result", :locals => {:result => result} %>
          <% else %>
            <% if result.is_a?(Posting) %>
              <%= link_to "#{result.origin_station.name} - #{result.destination_station.name}", result %>
            <% else %>
              <%= link_to result.name, result %>
            <% end %>
          <% end %>
        </li>
      <% end %>
      </ul>
    <% end %>
  </div>

<% end %>