<% content_for(:toolbar) do %>
  <% if resource.company == current_company %>
    <div class="float_left">
      <%= link_btn t('freights.common.template_link'), new_resource_url(:parent_id => resource.id), :icon => 'reply' %>
    </div>
    <div class="float_right">
      <%= link_btn t("freights.common.edit_link"), edit_freight_path(resource), :icon => 'edit' %>
      <%= link_btn t("loading_spaces.common.delete_link"), freight_path(resource), :method => :delete, :confirm => t('common.confirm'), :class => 'destroy' %>
    </div>
  <% else %>
    <%= link_btn t('freights.common.reply_to_link'), new_loading_space_path(:reply_to_id => resource.id), :icon => 'reply' %>
    <% if resource.contact_email.full? %>
      <%= link_btn t('freights.common.contact_to_link'), t('freights.common.contact_to_href', :email => resource.contact_email, :name => resource.pretty_id, :url => @resource_url), :icon => 'next' %>
    <% end %>
  <% end %>
<% end %>

<div class="box">
  <% if resource.reply_to.full? %>
    <div class="success">
      <%= auto_link(t("freights.show.is_reply_to", :name => resource.reply_to.pretty_id)).html_safe %>
    </div>
  <% end %>

  <h3><%= resource_class.human_attribute_name(:contractor) %>: <%= resource.contractor %></h3>
  <div>
    <%= resource_class.human_attribute_name(:valid_until) %>
    <%= l resource.valid_until, :format => :date %>
  </div>

  <hr>

  <%= render :partial => "postings/origin_and_destination" %>

  <hr>

  <%= render :partial => "postings/frequency" %>

  <h3><%= t("freights.show.transport_description") %></h3>

  <%= posting_attribute :product_name %>
  <%= posting_attribute :product_state, :humanize => true %>

  <%= posting_attribute :hazmat %>
  <% if resource.hazmat? %>
    <%= posting_attribute :hazmat_class, :dependent => true %>
    <%= posting_attribute :un_no, :dependent => true %>
  <% end  %>

  <%= posting_attribute :total_weight %>
  <%= posting_attribute :transport_weight %>

  <%= posting_attribute :desired_means_of_transport, :humanize => true %>
  <%= posting_attribute :desired_means_of_transport_custom, :dependent => true if resource.desired_means_of_transport == "custom" %>

  <%= posting_attribute :own_means_of_transport_present %>
  <% if resource.own_means_of_transport_present? %>
    <%= posting_attribute :own_means_of_transport, :humanize => true, :dependent => true %>
    <%= posting_attribute :own_means_of_transport_custom, :dependent => true if resource.own_means_of_transport == "custom" %>
  <% else %>
    <%= posting_attribute :requirements_means_of_transport, :dependent => true %>
  <% end %>

  <%= posting_attribute :requirements_at_loading %>
  <%= posting_attribute :requirements_at_unloading %>

  <%= posting_attribute :desired_proposal_type, :humanize => true %>

  <!--
  <tr>
    <th><%= Freight.human_attribute_name(:goods_text) %></th>
    <td><%= localized_info(@freight, :goods_text) %></td>
  </tr>
  <tr>
    <th><%#= Freight.human_attribute_name(:transport_text) %></th>
    <td><%= localized_info(@freight, :transport_text) %></td>
  </tr>

  <tr>
    <th><%#= Freight.human_attribute_name(:misc_text) %></th>
    <td><%= localized_info(@freight, :misc_text) %></td>
  </tr>
    -->
</div>



<% content_for(:sidebar) do %>
  <%= render_person_info(resource.contact_person) if resource.contact_person %>
  <%= render_company_info(resource.company) %>

  <div class="box search_results_box" style="display:none">
    <h3><%= t "search.common.results.header" %></h3>
    <% if matching_results.full? %>
      <ul class="search_results action_list">
      <% matching_results.each do |result| %>
        <li class="<%= highlight_in_search?(result) ? 'highlight' : '' %>">
          <% if template_exists?("/#{result.class.to_s.tableize}/_search_result")%>
            <%= render :partial => "/#{result.class.to_s.tableize}/search_result", :locals => {:result => result} %>
          <% else %>
            <% if result.is_a?(Posting) %>
              <%= link_to "#{result.origin_station.name} - #{result.destination_station.name}", result %>
            <% else %>
              <%= link_to result.name, result %>
            <% end %>
          <% end %>
        </li>
      <% end %>
      </ul>
    <% end %>
  </div>

<% end %>