<div class="box">
  <h3>
    <%= t('freights.show.header') %>
    <%= link_to t("freights.common.edit_link"), edit_freight_path(@freight), :class => 'edit' %>
  </h3>
  <% %w(origin destination).each do |site| %>
    <div style="width: 48%; margin-right: 10px; float: left;">
      <h3><%= t("freights.show.#{site}.header") %></h3>
      <% @freight.__send__("#{site}_site_info").tap do |site_info| %>
        <strong><%= site_info.contractor %></strong><br>
        <span><%= l site_info.date, :format => :long %></span>
        <table>
          <thead>
            <tr>
              <th colspan="2"><b><%= site_info.name %></b></th>
            </tr>
          </thead>
          <% %w(address address2 zip city country).each do |attr| %>
            <% if site_info[attr].full? %>
              <tr>
                <th><%= SiteInfo.human_attribute_name(attr) %></th>
                <td><%= site_info[attr] %></td>
              </tr>
            <% end %>
          <% end %>
          <tr>
            <th><%= SiteInfo.human_attribute_name(:side_track_available) %></th>
            <td><%= yes_no site_info.side_track_available %></td>
          </tr>
          <tr>
            <th><%= SiteInfo.human_attribute_name(:tracknumber) %></th>
            <td><%= site_info.track_number %></td>
          </tr>
        </table>
      <% end %>
    </div>
  <% end %>
  <%= clear_both %>
  
  <h3><%= t("freights.show.transport_description") %></h3>
  <table>
    <tr>
      <th><%= Freight.human_attribute_name(:weight) %></th>
      <td><%= @freight.weight %></td>
    </tr>
    <tr>
      <th><%= Freight.human_attribute_name(:goods_text) %></th>
      <td><%= localized_info(@freight, :goods_text) %></td>
    </tr>
    <tr>
      <th><%= Freight.human_attribute_name(:hazmat) %></th>
      <td><%= yes_no @freight.hazmat %></td>
    </tr>
    
    <tr>
      <th><%= Freight.human_attribute_name(:transport_type) %></th>
      <td><%= @freight.human_attribute_value(:transport_type) %></td>
    </tr>
    <tr>
      <th><%= Freight.human_attribute_name(:transport_text) %></th>
      <td><%= localized_info(@freight, :transport_text) %></td>
    </tr>
  
    <tr>
      <th><%= Freight.human_attribute_name(:wagons_provided_by) %></th>
      <td><%= @freight.human_attribute_value(:wagons_provided_by) %></td>
    </tr>
  
    <tr>
      <th><%= Freight.human_attribute_name(:desired_proposal_type) %></th>
      <td><%= @freight.human_attribute_value(:desired_proposal_type) %></td>
    </tr>
  
    <tr>
      <th><%= Freight.human_attribute_name(:misc_text) %></th>
      <td><%= localized_info(@freight, :misc_text) %></td>
    </tr>

  </table>
  
  <% content_for(:sidebar) do %>
    <%= render_company_info @freight.company %>
  <% end %>
  
</div>