<% content_for(:toolbar) do %>
  <div class="float_left">
    <%= link_btn t('.back').html_safe, {:action => "new"}, :icon => 'prev' %>
  </div>
<% end %>

<div class="box">
  <p>
    <%= t(".intro").html_safe %>
  </p>
  <p>
    <%= t(".intro2").html_safe %>
  </p>
  <p>
    <%= t(".intro3").html_safe %>
  </p>
  <%= form_tag({}, :multipart => true) do %>
    <fieldset>
      <p>
        <%= file_field_tag :data %>
      </p>
      <p>
        <%= submit_tag t(".submit") %>
      </p>
    </fieldset>
  <% end %>
  <p>
    
  </p>
</div>

<% if @sheet %>
  <div class="box">
    <%= t("postings.upload.created_postings", :count => @collection.size)%>
  
    <table class="stats">
      <% keys = @posting_attributes[0].attributes.keys %>
      <thead>
        <tr>
          <td>#</td>
          <% keys.each do |attr| %>
            <td><%= attr %></td>
          <% end %>
        </tr> 
      </thead> 
      <tbody>
        <% @collection.each_with_index do |resource, i| %>
          <tr>
            <td rowspan="2">#<%= i %></td>
            <% keys.each do |attr| %>
              <td><%= @posting_attributes[i].attributes[attr].inspect %></td>
            <% end %>
            </tr>
            <tr>
              <% keys.each do |attr| %>
                <td><%= resource[attr].inspect %></td>
              <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>