<div class="box">
  <p>
    <%= t(".intro")%>
  </p>
  <%= form_tag({}, :multipart => true) do %>
    <p>
      <%= file_field_tag :data %>
    </p>
    <p>
      <%= submit_tag t(".submit") %> <%= link_to t(".excel_template_link"), "/inserate.xls" %>
    </p>
  <% end %>
  <p>
    
  </p>
</div>

<% if @sheet %>
  <%= t("postings.upload.created_postings", :count => @collection.size)%>

<pre>
  <% @collection.each_with_index do |resource, i| %>
    index: <%= i %>
    attributes (by upload): <%= @posting_attributes[i].attributes.inspect %>
    attributes (by resource): <%= resource.attributes.inspect %>  
    valid?: <%= resource.valid? %>
    
  <% end %>
</pre>
<% end %>