<div class="box">
  <p>
    <%= t(".intro")%>
  </p>
  <%= form_tag({}, :multipart => true) do %>
    <p>
      <%= file_field_tag :data %>
    </p>
    <p>
      <%= submit_tag t(".submit") %> <%= link_to t(".excel_template_link"), "/inserate.xls" %>
    </p>
  <% end %>
  <p>
    
  </p>
</div>

<% if @sheet %>
  <div class="box">
    <%= t("postings.upload.created_postings", :count => @collection.size)%>
  
    <table class="stats">
      <% keys = @posting_attributes[0].attributes.keys %>
      <thead>
        <tr>
          <td>#</td>
          <% keys.each do |attr| %>
            <td><%= attr %></td>
          <% end %>
        </tr> 
      </thead> 
      <tbody>
        <% @collection.each_with_index do |resource, i| %>
          <tr>
            <td rowspan="2">#<%= i %></td>
            <% keys.each do |attr| %>
              <td><%= @posting_attributes[i].attributes[attr].inspect %></td>
            <% end %>
            </tr>
            <tr>
              <% keys.each do |attr| %>
                <td><%= resource[attr].inspect %></td>
              <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>