<%= partial :index %>

<div class="box">
  <h3>
    <%= t("#{controller_catalog}.index.header") %>
    <%#= link_new unless controller_name =~ /recording/ %>
  </h3>
  <p>
    <%= t("#{controller_catalog}.index.intro") %>
  </p>

  <% %w(numeric_id name).tap do |attributes| %>
    <table class="stats">
      <thead>
        <tr>
          <th>id</th>
          <% attributes.each do |attr| %>
            <th><%= attr.humanize %></th>
          <% end %>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% collection.each do |ar| %>
          <tr>
            <td><%= link_to ar.id, :action => 'edit', :id => ar %></td>
            <% attributes.each do |attr| %>
              <td class="<%= attr %>">
                <% if %w(name).include?(attr) %>
                  <%= link_to(ar[attr], :action => 'edit', :id => ar) %>
                <% else %>
                  <%= contact_info(ar, attr) %>
                <% end %>
              </td>
            <% end %>
            <td><%= link_btn "Edit", {:action => 'edit', :id => ar}, :class => 'edit' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>