
<div class="box">
  <h3><%= t("companies.dashboard.recordings.header") %></h3>
  <p>
    <%= t('companies.dashboard.intro') %>
  </p>
  
  <%= render_partial :recordings, :locals => {:recordings => @recordings} %>
</div>

<%= render_person_info current_person %>

<%= render_company_info @company %>
