
  <% content_for(:toolbar) do %>
    <%= link_btn t("common.navi.my_company"), company_path(current_company) %>
    <%= link_btn t("common.navi.my_person"), person_path(current_person) %>
    <%= link_btn t("common.navi.people"), people_path %>
  <% end %>

<div class="box">
  <h3><%= t("companies.dashboard.recordings.header") %></h3>
  <p>
    <%= t('companies.dashboard.intro') %>
  </p>
  
  <%= render_partial :recordings, :locals => {:recordings => @recordings} %>
</div>

<% content_for(:sidebar) do %>
  <h3 class="info"><%= t("companies.dashboard.sidebar_person_info_title") %></h3>
<% end %>
<%= render_person_info current_person %>

<% content_for(:sidebar) do %>
  <h3 class="info"><%= t("companies.dashboard.sidebar_company_info_title") %></h3>
<% end %>
<%= render_company_info @company %>
