
<div class="box">
  <h3><%= t("companies.dashboard.recordings.header") %></h3>
  
  <ul>
  <% @recordings.each do |recording| %>
    <li>
      <small><%= l recording.created_at, :format => :short %></small>
      <%= humanize_recording(recording) %>
    </li>
  <% end %>
  </ul>
</div>

<%= render_person_info current_person %>

<%= render_company_info @company %>
