<div class="box">
  <h3><%= t("companies.new.header") %></h3>
  <p>
    <%= t("companies.new.intro") %>
  </p>
  <%= semantic_form_for(@user, :url => companies_url) do |f| %>
    <fieldset class="inputs">
      <legend><span><%= t("formtastic.titles.for_company") %></span></legend>
      <ol>
        <li class="string optional<%= ' error' if @company.errors.full? %>">
          <%= label :company, :name %> <%= text_field :company, :name, :size => 50, :maxlength => 255 %>
          <%= @company.errors[:name] %>
        </li>
      </ol>
    </fieldset>
    
    <%= f.semantic_fields_for :person do |f_person| %>
      <%= f_person.inputs :person_name do %>
        <%= f_person.input :gender, :collection => collection_choices(Person, :gender), :as => :select, :include_blank => false %>
        <%= f_person.input :first_name %>
        <%= f_person.input :last_name %>
      <% end %>
    <% end %>

      <%= render :partial => "/users/form_content", :locals => {:f => f} %>
    <%= f.buttons %>
  <% end %>
  <%= javascript_tag <<-JS
    var user_login = jQuery('#user_login').value;
    var dont_auto_fill_user_login = !(user_login == '' || user_login == undefined);
    jQuery(function($) {
      jQuery('#user_login').focus(function() { dont_auto_fill_user_login = true; });
      jQuery('#company_name').keyup(function() {
        if( !dont_auto_fill_user_login ) {
          var login = login_from_name(this.value);
          jQuery('#user_login').val(login);
        }
      }).change();
    });
  JS
  %>
</div>