<div class="box">
  <h3><%= t("companies.new.header") %></h3>
  
  <% semantic_form_for(:user, @user, :url => companies_url) do |f| %>
    <fieldset class="inputs">
      <legend><span><%= t("formtastic.titles.for_company") %></span></legend>
      <ol>
        <li class="string optional"><%= label :company, :name %> <%= text_field :company, :name, :size => 50, :maxlength => 255 %></li>
      </ol>
    </fieldset>
    <%= render :partial => "/users/form_content", :locals => {:f => f} %>
    <%= f.buttons %>
  <% end %>
  <%= javascript_tag <<-JS
    var user_login_already_had_focus = false;
    jQuery(function($) {
      jQuery('#user_login').focus(function() { user_login_already_had_focus = true; });
      jQuery('#company_name').keyup(function() {
        if( !user_login_already_had_focus ) {
          var login = login_from_name(this.value);
          jQuery('#user_login').val(login);
        }
      }).change();
    });
  JS
  %>
</div>