  <div class="box">
    <h3>
      <%= float_tag t("freights.index.header") %>
      <%= clear_both %>
    </h3>
    <p>
      <%= t('freights.index.intro') %>
    </p>

    <table class="postings">
      <thead>
        <tr>
          <th><%= t('freights.index.table.headers.date') %></th>
          <th><%= t('freights.index.table.headers.origin') %></th>
          <th><%= t('freights.index.table.headers.destination') %></th>
        </tr>
      </thead>
      <tbody>
        <% @postings.each do |ar| %>
          <tr class="<%= ar.origin_site_info.date < Time.now ? :old : :new %>">
            <td class="origin_date"><%= link_to l(ar.origin_site_info.date, :format => :date), ar %></td>
            <td class="origin_name"><%= ar.origin_site_info.name %></td>
            <td class="destination_name"><%= ar.destination_site_info.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>