  <% if misc_text = localized_info(@company, :misc_text) %>
    <h2><%= t("companies.show.header_misc_text") %></h2>
    <div class="box">
      <%= misc_text %>
    </div>
  <% end %>

  <h2><%= t("companies.show.header_people") %></h2>
  <% @company.people.each do |person| %>
    <div class="box">
      <h3>
        <%= t "common.sidebar.person_information.header" %>
        <% if person == current_person %>
          <%= link_to t("common.sidebar.person_information.edit"), person.save ? edit_person_path(person) : new_person_path, :class => 'edit' %>
        <% end %>
      </h3>
  
      <table>
        <thead>
          <tr>
            <th colspan="2"><b><%= person.name %></b></th>
          </tr>
        </thead>
        <% %w(phone fax email website).each do |attr| %>
          <% if person[attr].full? %>
            <tr>
              <th><%= Person.human_attribute_name(attr) %></th>
              <td><%= auto_link person[attr] %></td>
            </tr>
          <% end %>
        <% end %>
        <tr>
          <th><%= t("activerecord.attributes.person.localized_infos.misc_text") %></th>
          <td><%= localized_info(person, :misc_text) %></td>
        </tr>
      </table>
    </div>
  <% end %>
  
  <% if reviews = @company.approved_reviews %>
    <h2><%= t("companies.show.header_reviews") %></h2>
    <% reviews.each do |review| %>
      <div class="box">
        <table>
          <tr>
            <th><%= Review.human_attribute_name(:author_company) %></th>
            <td><%= link_to_item review.author_company %></td>
          </tr>
          <tr>
            <th><%= Review.human_attribute_name(:author_user) %></th>
            <td><%= link_to_item review.author_user %></td>
          </tr>
          <tr>
            <th><%= Review.human_attribute_name(:text) %></th>
            <td><%= review.text %></td>
          </tr>
        </table>
      </div>
    <% end %>
  <% end %>

<% content_for(:sidebar) do %>
  <p>
    <%= link_to t("common.create_new_review"), new_review_url(:company_id => @company.id), :class => 'create_new_freight' %>
  </p>
<% end %>

<%= render_person_info(@company.contact_person) if @company.contact_person %>
<%= render_company_info(@company) %>
