
<% content_for(:toolbar) do %>
  <%= link_btn t("reviews.index.filter_all"), reviews_path(:filter => '') %>
  <%= link_btn t("reviews.index.filter_approved"), reviews_path(:filter => :approved) %>
  <%= link_btn t("reviews.index.filter_unapproved"), reviews_path(:filter => :unapproved) %>
<% end %>

<div class="box">
  <h3>
    <% if params[:filter] %>
      <%= t("reviews.index.header_#{params[:filter]}") %>
    <% else %>
      <%= t("reviews.index.header") %>
    <% end %>
  </h3>
  <p>
    <%= t('reviews.index.intro') %>
  </p>
  
  <ul class="action_list">
    <% collection.each do |ar| %>
      <li class="<%= ar.approved? ? :approved : :unapproved %>">
        <div class="image"><%= image_tag "type/review.png" %></div>
        <div class="text">
          <b><%= l(ar.created_at, :format => :short) %></b><br>
          <div class="avatar"><%= image_tag "gravatar.png" %></div>
          <%= link_to t('reviews.index.table.review_name', {:author_user => ar.author_user.full?(&:name), :author_company => ar.author_company.full?(&:name)}), ar %>
          <div><%= truncate ar.text, :length => 100 %></div>
        </div>
        <%= clear_both %>
      </li>
    <% end %>
  </ul>
</div>