<div class="box">
  
  <%= content_tag(:h3, t("reviews.show.is_approved"), :class => 'green') if @review.approved? %>
  
  <table>
    <tr>
      <th><%= Review.human_attribute_name(:author_company) %></th>
      <td><%= link_to_item @review.author_company %></td>
    </tr>
    <tr>
      <th><%= Review.human_attribute_name(:author_user) %></th>
      <td><%= link_to_item @review.author_user %></td>
    </tr>
    <tr>
      <th><%= Review.human_attribute_name(:text) %></th>
      <td><%= @review.text %></td>
    </tr>
  </table>
  <% if @review.company == current_company && !@review.approved? %>
    <% form_tag(:action => :approve) do %>
      <%= submit_tag t("reviews.show.approve_link") %>
    <% end %>
  <% end %>
</div>

<%= render_person_info(@review.author_user.full?(&:person)) %>
<%= render_company_info(@review.author_company) %>