<div class="header">
  <div id="top-navigation">
    <div class="navigation-left">
      <ul class="navigation">
          <li><%= navi_to_unless controller?(:setup), t("admin.common.navi.setup"), setup_path %></li>
          <% if false %>
            <li><%= navi_to_unless controller?(:action_recordings), t("admin.common.navi.action_recordings"), admin_action_recordings_path %></li>
            <li><%= navi_to_unless controller?(:search_recordings), t("admin.common.navi.search_recordings"), admin_search_recordings_path %></li>
          <% end  %>
          <li><%= navi_to_unless controller?(:monitoring), t("admin.common.navi.monitoring"), admin_monitoring_path %></li>
          <li><%= navi_to_unless controller?(:companies), t("admin.common.navi.companies"), admin_companies_path %></li>
          <li><%= navi_to_unless controller?(:users), t("admin.common.navi.users"), admin_users_path %></li>
      </ul>
    </div>
    <div class="navigation-right">
      <ul class="navigation">
        <ul class="navigation">
          <li><%= navi_to_unless controller?(:stations), t("admin.common.navi.stations"), admin_stations_path %></li>
          <li><%= navi_to_unless controller?(:user_roles), t("admin.common.navi.user_roles"), admin_user_roles_path %></li>
          <li><%= navi_to_unless controller?(:app_configs), t("admin.common.navi.app_configs"), admin_app_configs_path %></li>
          <li class="last"><%= link_to image_tag("logout.png") + " " + t("admin.common.navi.back_to_app"), root_path, :class => 'frontend' %></li>
        </ul>
      </ul>
    </div>
    <%= clear_both %>
  </div>
  <div class="container" id="header">
    <div class="span-24 last" id="first-header">
      <%#= link_to image_tag('home_logo.gif'), root_url %>
      <div class="float_left">
        <h2 style="float: left; font-weight: bolder; padding-top: 10px"><%= link_to t("admin.common.navi.home"), admin_root_path, :style => "text-decoration: none; color: #666;" %></h2>
      </div>
      <div class="float_left">

        <div id="search_form">
          <%= form_tag contextual_search_path, :method => :get do %>
            <div class="input-wrapper"><%= link_to_function t("#{contextual_search_controller}.common.search-label"), "void(0);", :id => "search-label", :class => "search-label search-label-#{contextual_search_controller}" %><%= text_field_tag :q, h(params[:q]), :autocomplete => :off %><%= image_submit_tag("search_button.png") %></div>
            <div class="advanced-search-wrapper">
              <div id="advanced-search-controls"<%=  ' style="display:none"'.html_safe unless show_search_options? %>>
                <label for="search_case_sensitive">
                  <input type="checkbox" id="search_case_sensitive" name="case_sensitive" value="1"<%= ' checked="checked"'.html_safe if params[:case_sensitive].full? %>>
                  <%=  t("search.options.case_sensitive") %>
                </label>
                <label for="search_whole_words">
                  <input type="checkbox" id="search_whole_words" name="whole_words" value="1"<%= ' checked="checked"'.html_safe if params[:whole_words].full? %>>
                  <%=  t("search.options.whole_words") %>
                </label>
              </div>
              <%=  link_to_function t("search.options.link"), "$('#advanced-search-controls').show(); $(this).remove()" unless show_search_options? %>
            </div>
          <% end %>
        </div>
      </div>
      <div id="search-label-popover">
         <div class="header">
          <%= "Suche ändern" %>
         </div>
         <div class="content">
           <% %w(app_configs companies stations users).each do |context| %>
             <% text = t("admin.#{context}.common.search-label") %>
             <%= link_to_function text, "switchSearchContext('#{context}', '#{text}');", :id => "", :class => "search-label search-label-#{context}" %>
           <% end %>
         </div>
       </div>
      <%= clear_both %>
    </div>

    <div class="container" id="second-header">
      <ul class="navigation navigation-left">
        <!--
        -->
      </ul>
      <ul class="navigation navigation-right">

      </ul>
    </div>
  </div>
</div>