<div class="header">
  <div class="container" id="header">
    <div class="span-24 last" id="first-header">
      <%#= link_to image_tag('home_logo.gif'), root_url %>
      <h2 style="float: left; font-weight: bolder;"><%= link_to t("admin.common.navi.home"), admin_root_path, :style => "text-decoration: none; color: #666;" %></h2>
      
      <div class="navibox">
        <ul class="navigation navigation-right">
          <ul class="navigation navigation-left">
            <li><%= link_to t("admin.common.navi.users"), admin_users_path %></li>
            <li><%= link_to t("admin.common.navi.recordings"), admin_recordings_path %></li>
            <li><%= link_to t("admin.common.navi.search_recordings"), admin_search_recordings_path %></li>
            <li><%= link_to t("admin.common.navi.stations"), admin_stations_path %></li>
            <li><%= link_to t("admin.common.navi.user_roles"), admin_user_roles_path %></li>
            <li><%= link_to t("admin.common.navi.app_configs"), admin_app_configs_path %></li>
            <li><%= link_to t("admin.common.navi.back_to_app"), root_path, :class => 'frontend' %></li>
          </ul>
        </ul>
      </div>
    </div>

    <div class="container" id="second-header">
      <ul class="navigation navigation-left">
        <!--
        -->
      </ul>
      <ul class="navigation navigation-right">
        
        <% if false && current_user.full? %>
          <li><span>Welcome <%= current_user.login %>!</span></li>
          <li>
            <div id="search_form">
            <%= form_tag search_url, :method => :get do %>
              <div class="input-wrapper"><%= text_field_tag :q, h(params[:q]) %><%= submit_tag t('search.common.button'), :name => nil %></div>
            <% end %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>