<% content_for(:toolbar) do %>
  <% %w(id name created_at).each do |filter| %>
    <%= link_btn t("admin.common.filter_by_#{filter}"), {:filter => filter}, :icon => filter == @filter ? :next : nil %>
  <% end %>
<% end %>
<!--
<div class="box">
  <h3>
    <%= t("#{controller_catalog}.index.header") %>
    <%= link_new unless controller_name =~ /recording/ %>
  </h3>
  <p>
    <%= t("#{controller_catalog}.index.intro") %>
  </p>
  
  <%= render_table collection %>
</div>
-->