<% content_for(:sidebar) do %>
  <div class="box">
    <h3>
      <%= t "common.sidebar.company_information.header" %>
      <%= link_btn t("common.sidebar.company_information.show"), admin_company_path(company), :class => 'show', :icon => :show %>
    </h3>

    <table>
      <thead>
        <tr>
          <th colspan="2">
            <b><%= company.name %></b>
            <%= link_btn t("common.sidebar.company_information.edit"), edit_admin_company_path(company), :icon => :edit %>
          </th>
        </tr>
      </thead>
      <% %w(address address2 zip city country phone fax email website).each do |attr| %>
        <% if company[attr].full? %>
          <tr>
            <th><%= Company.human_attribute_name(attr) %></th>
            <td><%= auto_link company.__send__(attr) %></td>
          </tr>
        <% end %>
      <% end %>
    </table>

  </div>
<% end %>