<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title><%= "FX [#{controller.controller_name}##{controller.action_name}]" %></title>
	<link rel="shortcut icon" href="/favicon.gif" type="image/x-icon">
  <link rel="icon" href="/favicon.gif" type="image/x-icon">
  <%= stylesheet_link_tag 'formtastic', 'formtastic_changes' %>
  <%= stylesheet_link_tag 'blueprint/screen', 'application' %>
  <%= javascript_include_tag 'jquery-1.4.2.min', 'rails', 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="<%= controller.controller_name %>" class="<%= controller.action_name %>">
      <div id="wrap">
        <% if demo_mode? %>
          <div id="demo_mode" style="display: none">
            &nbsp;
          </div>
        <% end %>
        <%= render "/partials/header" %>
        <div class="corridor_map">
          <div class="container" id="corridor_map">
            <h2><%= page[:title] || t('hello') %></h2>
            <%= clear_both %>
            <div id="search_form">
            <%= form_tag search_url, :method => :get do %>
              <div class="input-wrapper"><%= text_field_tag :q, h(params[:q]) %><%= submit_tag t('search.common.button'), :name => nil %></div>
            <% end %>
            </div>
            <div class="subtext">
              <%= yield(:subtext) %>
            </div>
          </div>
        </div>
        <div class="frame">
          <div class="container" id="frame">
            <div id="content" class="span-16"><%= yield %></div>
            <%= render "/partials/sidebar" %>
          </div>
        </div>
        <%= render "/partials/footer" %>
      </div> <%# wrap %>
  </div> <%# div#controller.action %>
</body>
</html>
