<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title><%= page[:title] %></title>
	<link rel="shortcut icon" href="/favicon.gif" type="image/x-icon">
  <link rel="icon" href="/favicon.gif" type="image/x-icon">
  <%= stylesheet_link_tag 'formtastic', 'formtastic_changes' %>
  <%= stylesheet_link_tag 'blueprint/screen', 'application' %>
  <!--[if IE 6]>
    <%= stylesheet_link_tag 'blueprint/ie' %>
  <![endif]-->
  <%= javascript_include_tag 'jquery-1.4.2.min', 'jquery.glow', 'rails', 'application' %>
  <%= csrf_meta_tag %>
</head>
<body<%= admin? ? ' class="admin"'.html_safe : '' %>>
  <div id="<%= controller.controller_name %>" class="<%= controller.action_name %>">
      <div id="wrap">
        <% if demo_mode? %>
          <div id="demo_mode" style="display: none">
            &nbsp;
          </div>
        <% end %>
        <%= render_partial :header %>
        <div class="frame">
          <div class="container" id="frame">
            <%= render_partial :page_title %>
            <div id="content" class="span-16">
              <% if toolbar = yield(:toolbar) %>
                <%= content_tag(:div, toolbar, :class => 'toolbar') %>
              <% end %>
              <%= yield %>
            </div>
            <%= render_partial :sidebar %>
          </div>
        </div>
        <%= render_partial :footer %>
      </div> <!-- div#wrap -->
  </div> <!-- div#controller.action -->
</body>
</html>
